
<div class="learn-page">
<h1>말을 가르쳐보삼</h1>
  <h3 class="title">가르치고 싶은 말을 입력하삼</h3>
  <%= form_tag '/learn', method: 'post', class: "learn-form" do %>
    <h3>질문</h3>
    <textarea placeholder="니가 할말" name="ask" rows="3" required></textarea>
    <h3>대답</h3>
    <textarea placeholder="심심이가 대답할말" name="answer" rows="3" required></textarea>
    <input type="submit" value="가르치기">
  <% end %>
    <a href="/learninall">
        <div class="back-button">한꺼번에 가르치기</div>
    </a>
  <a href="/">
    <div class="back-button">심심이 페이지로</div>
  </a>
</div>